* {
    margin: 0px;
    padding: 0px;
    }

    h1 { 
        color: #1F242A;
        font-size: 75px;
        font-family: Arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 1;
        letter-spacing: .1em;
      }

    body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

    header {
    color: #fff;
    text-align: center;
    }

    main {
    padding: 20px;
    }

    footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }

    #homepage-background {
        background-image: url("Images/Website Image - Homepage.png");
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 100px;
        padding-bottom: 1000px;
        color: white;
        height: 50px;
    }
      
    #homepage-background h1 {
        color: #ffffff;
        font-size: 75px;
        font-family: Arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 1;
        letter-spacing: .1em;
    }
      
    #homepage-background h6 {
        font-size: 18px;
    }

    /* STYLE NAV BAR */
    ul {
        list-style-type: none;
        overflow: hidden;
        padding: 1em;
    }
    li {
        display: inline;
    }
    li a {
        text-decoration: none;
        color: white;
        font-size: 1.3em;
        padding: 1em;
    }
    li a:hover {
        background-color: rgb(2, 161, 163);
    }
    nav {
        text-align: center;
    }