.cmuPortfolio {
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 240vw;
  background-image: url(../../assets/ColorBackground.png);
}

.cmuHeaderDescription {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  justify-items: center;
  align-items: start;
  padding-left: 8vw;
  padding-right: 8vw;
  max-width: 100vw;
  justify-content: center;
}

.cmuPortfolio .art-card {
  width: 18vw;
  height: 18vw;
}

.cmuPortfolio .art-card-image {
  width: 13vw;
  height: 13vw;
}

.cmuPortfolio .art-card-name {
  font-size: 1.5vw;
}

.cmuPortfolio .art-card-time {
  font-size: 1.1vw;
}

.cmuHeaderWrap {
  display: flex;
  justify-content: center; 
  align-items: center;      
  padding-top: 20vw;         
  padding-bottom: 30vw;     

  .cmuHeader {
    font-size: 11vw;
    font-family: 'Neucha';
    color: rgba(82, 82, 82, 0.859);
    text-align: center;
   }

   .clouds-img {
        position: absolute;
        top: -13vw;
        left: 0;
        width: 100vw;
        pointer-events: none;
        z-index: 3;
        filter: brightness(1.3);
    }
}

