.art {
    width: 100vw;
    height: 224vw;
    background-repeat: no-repeat;
    background-size: 240vw;
    /* background-image: url("/Users/ethantam/Desktop/etweb/src/assets/Art_Background_Expanded.jpg"); */
    background-image: url(../../assets/ColorBackground.png);
}

.artHeaderDescription {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  justify-items: center;
  align-items: start;
  padding-left: 8vw;
  padding-right: 8vw;
  max-width: 100vw;
  justify-content: center;
}

.artHeaderWrap {
  display: flex;
  justify-content: center; 
  align-items: center;      
  padding-top: 20vw;         
  padding-bottom: 30vw;     

  .artHeader {
    font-size: 11vw;
    font-family: 'Neucha';
    color: rgba(82, 82, 82, 0.859);
    text-align: center;
   }

   .clouds-img {
        position: absolute;
        top: -13vw; /* Adjust vertically as needed */
        left: 0;
        width: 100vw;
        pointer-events: none;
        z-index: 3;
        filter: brightness(1.3);
    }
}
