.artExperience {
    border: 50vw;
    padding-bottom: 7vw;
    display: flex;
    justify-content: flex-start;
}

.art-Project-Description {
    display: flex;
    justify-content: flex-start;
}

.art-Project-Small-Description {
    font-family: Arial, Helvetica, sans-serif;
}

.art-Project-Name {
    width: 40vw;
    font-size: 4.5vw;
    font-family: 'Neucha';
    letter-spacing: .1vw;
    color: rgba(82, 82, 82, 0.859);
}

.art-Project-Time {
    padding-top: 1vw;
    width: 20vw;
    font-size: 2vw;
    font-family: 'Neucha';
    font-style: italic;
    color: rgba(82, 82, 82, 0.859);
}

.art-Project-Text {
    padding-top: 1vw;
    font-size: 1.7vw;
    width: 40vw;
    font-family: 'Neucha';
    color: rgba(82, 82, 82, 0.859);
}

.artPic {
    padding-left: 15vw;
    width: 30vw;
    height: 23vw;
    justify-content: center;
    align-items: flex-end;
    padding-top: 2vw;
}

.MoveVideo {
    padding-left: 15vw;
    padding-top: 1vw;
}

iframe {
    width: 30vw;
    height: 20vw;
}