.computerScience {
  width: 100vw;
  height: 820rem;
  background-repeat: no-repeat;
  background-size: 240rem;
  background-image: url(../../assets/ColorBackground.png);
}


.csHeaderWrap {
  display: flex;
  justify-content: center; 
  align-items: center;      
  padding-top: 25rem;         
  padding-bottom: 20rem;  

    .csHeader {
    font-size: 11vw;
    font-family: 'Neucha';
    color: rgba(82, 82, 82, 0.859);
    text-align: center;
    }

    .clouds-img {
    position: absolute;
    top: -13vw; /* Adjust vertically as needed */
    left: 0;
    width: 100vw;
    pointer-events: none;
    z-index: 3;
    filter: brightness(1.3);
    }     
}



.csHeaderDescription {
  padding-top: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


